.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.vscode
.git
.gitignore
.env
.env.*
data/*.db
data/*.sqlite
data/*.sqlite3
fabric/outbox/*.json
fabric/network/channel-artifacts
fabric/network/crypto
fabric/network/system-genesis-block
